@import './reset.scss';
@import "./variables/global.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";


.app {
    font: var(--font-m);
    
    background: #D9D9D9;
  
    color: var(--primary-color);
  
    min-height: 100vh;
  
  }