@import './reset.scss';
@import "./variables/global.scss";


.app {
    font: var(--font-m);
    
    background: #D9D9D9;
  
    color: var(--primary-color);
    padding:  24px 24px;
  
    min-height: 100vh;
  
  }

  @media (max-width: 576px ) {
    .app {
      display: flex;
      align-items: center;
    font: var(--font-l);

    }
  }