.inputGroup {
    margin-bottom: 24px;
}

.input {
    background: rgba(0, 0, 0, 0.04);   
    border: 1px solid rgba(0, 0, 0, 0.16);
   
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}

.inputName {
    margin-bottom: 8px;
}