.wrapper {
    display: flex;
    align-items: center;
    margin-top: 24px;
}
._wrapper {
    margin-left: 24px;
}

.name {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.links {
    display: flex;
    justify-content: space-between;
}
.link {
    margin-right: 15px;

}

@media (max-width: 576px) {
    .links {
        flex-direction: column;
    }
    ._wrapper {
        margin: 15px 0px 0px 24px;
    }
    
}