.field {
    background: rgba(0, 0, 0, 0.08);
    height: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #A6A6A6;  

}