.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    margin-bottom: 8px;
}

@media (max-width:630px) {
    .inputWrapper {
        width: 80%;
        transition: .8s transform;
    }
}
@media (max-width:500px) {
    .inputWrapper {
        width: 100%;
        transition: .8s transform;
    }
}

.checkBoxGroup {
    margin-top: 24px;
}

.radioGroup {
    margin-top: 24px;
}

.inputGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;

}